.SideNav-bar {
    width: 70px;
    height: 100%;
    position: fixed;
    background: #303a47;
}

#SideNav-blank {
    height: 80vh;
}

#SideNav-blank2 {
    height: 2vh;
}

.SideNav-list {
    position: relative;
    right: 20px;
    list-style: none;
}

#SideNav-logo {
    color: white;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: bold;
}

.material-icons {
    position: relative;
    color: white;
    font-size: 30px;
}